.dropdownMenu {
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
  height: 70vh;
  left: 0;
  border: 1px solid #ec2a7b;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

