.footer {
  background-image: url("./../../../../public/image/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .footerMain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .footerColumn {
    text-align: center;
  }

  h6 {
    margin-top: 50px;
    font-size: large;
    line-height: 50px;
  }
}
