.cardBorderRadius {
  border-radius: 20px !important;
}

.card {
  margin: auto;
  width: 18rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
}

.cardBody {
  text-align: center;
  padding: 1rem;
}

.cardTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.cardText {
  font-size: 1rem;
  color: #6c757d;
}

.button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #c82333;
}
